.about {
    padding: 60px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.about h1 {
    color: #00bfff;
    font-size: 2em;
    margin-bottom: 20px;
}

.about .intro {
    width: 80%;
    margin: 0 auto 40px;
    color: #444;
    line-height: 1.7;
}
.about .intro strong{
    color: black;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    gap: 30px;
}

.about-content .text {
    flex: 1;
    min-width: 280px;
    text-align: center;
}

.about-content ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    text-align: left;

}
.about-content h2{
    color: #00bfff;
    text-align: center;
}
.about-content p{
    text-align: center;
}
.about-content li {
    margin: 8px 0;
    color: #333;
}

.about-content i {
    color: #00bfff;
    margin-right: 8px;
}

.team {
    background: #fff;
    padding: 60px 0;
    text-align: center;
}
.team h2{
    color: #00bfff;
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.team .member {
    width: 200px;
}

.team .member img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.team .member h3 {
    color: #00bfff;
    margin-top: 10px;
    font-size: 1.1em;
}

.team .member p {
    font-size: 0.9em;
    color: #777;
}

